<!-- home services block -->
<div class="w3l-servicesblock2 py-5" id="services">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-style text-center mb-lg-5 mb-4">Services we're <span>offering</span></h3>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="grids5-info">
                    <a href="services.html" class="blog-image d-block zoom">
                        <img src="~/Scripts/Assets/images/s1.jpg" alt=""
                             class="img-fluid radius-image" />
                        <div class="image-overlay">
                            <h4>Measurements</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                        </div>
                        <div class="iconic-plus">
                            <i class="fas fa-plus"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                <div class="grids5-info">
                    <a href="services.html" class="blog-image d-block zoom">
                        <img src="~/Scripts/Assets/images/s2.jpg" alt=""
                             class="img-fluid radius-image" />
                        <div class="image-overlay">
                            <h4>Repair</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                        </div>
                        <div class="iconic-plus">
                            <i class="fas fa-plus"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                <div class="grids5-info">
                    <a href="services.html" class="blog-image d-block zoom">
                        <img src="~/Scripts/Assets/images/s3.jpg" alt=""
                             class="img-fluid radius-image" />
                        <div class="image-overlay">
                            <h4>Сutting-out</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                        </div>
                        <div class="iconic-plus">
                            <i class="fas fa-plus"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                <div class="grids5-info">
                    <a href="services.html" class="blog-image d-block zoom">
                        <img src="~/Scripts/Assets/images/s4.jpg" alt=""
                             class="img-fluid radius-image" />
                        <div class="image-overlay">
                            <h4>Resize</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                        </div>
                        <div class="iconic-plus">
                            <i class="fas fa-plus"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-md-5 mt-5 pt-lg-4">
            <a href="services.html" class="btn btn-style">View More Services</a>
        </div>
    </div>
</div>
<!-- //home services block -->
